@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import 'tailwindcss';

@theme {
    --font-rounded: 'Rubik Mono One', sans-serif;
}

@layer components {
    bs-icon {
        width: 1em;
        height: 1em;
        display: inline-block;
        vertical-align: -0.25em;
    }
    bs-icon > svg {
        width: 100%;
        height: 100%;
    }
    .title {
        letter-spacing: -0.05em;
    }
}